.env
__pycache__/
migrations/
static/
media/
db.sqlite3
venv/
*.pyc
*.pyo
*.pyd
*.swp
*.log
*.bak
*.vscode/
*.idea/
*.DS_Store
*.cache
*.egg-info/
*.egg
*.tox/
*.tmp
*.temp
*.bak
*.old
*.backup
*.orig
*.rej
