{% extends 'base.html' %}
{% load markdownify %}

{% block content %}
<!-- START POST DETAILS -->
<section id="post-details" class="section_padding">
  <div class="container">
    <div class="row">
      <!-- Post Image -->
      <div class="col-md-8 col-sm-12">
        <div class="post_image">
          <img src="{{ post.image.url }}" class="img-responsive" alt="{{ post.title }}">
        </div>
      </div>

      <!-- Post Information -->
      <div class="col-md-4 col-sm-12">
        <div class="post_info">
          <h2 class="text_white">{{ post.title }}</h2>
          <p><strong>Published On:</strong> {{ post.published_date|date:"F d, Y" }}</p>
          <p><strong>Category:</strong> <a href="{% url 'category_post_list' post.category.slug %}"
              style="text-decoration: none; color: #d00;">{{ post.category.name }}</a></p>

          <p><strong>Description:</strong> {{ post.description }}</p>

          <!-- Tags Used -->
          <p><strong>Tags:</strong></p>
          <div class="tags">
            <ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-wrap: wrap;">
              {% for tag in post.tags.all %}
              <li style="margin-right: 10px;">
                <a href="{% url 'tag_post_list' tag.slug %}" style="text-decoration: none; color: #d00;">#{{ tag.name }}</a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Post Content -->
    <div class="row">
      <div class="col-md-12">
        <div class="markdown_details">
          <h3 class="text_white">Content</h3>
          <p>{{ post.content|markdownify }}</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END POST DETAILS -->
<!-- Back to Blog List Button -->
<div class="post_buttons" style="padding-top:20px">
  <a href="{% url 'post_list' %}" style="text-decoration: none; color: #d00;">
    Back to Blogs
  </a>
</div>
{% endblock %}